<ion-view title="BAD" id="page19" style="background-color:B;">
  <ion-content padding="true" style="background: url(img/HCRDpOAxRuqfSocIohwJ_abd047881ee5cfe8b663fc4da50ab0e9.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/CIwkv7NjRpmRRaHtvmV8_abd047881ee5cfe8b663fc4da50ab0e9.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="bAD-heading9" style="color:#EBDDDD;font-weight:600;font-style:italic;text-align:center;">OOOPPPPSSSS!!!</h1>
  </ion-content>
</ion-view>