<ion-view title="GAME 1-10" id="page8" style="background-color:#B31CB8;">
  <ion-content padding="true" class="has-header">
    <h1 id="gAME110-heading4" style="color:#EEE4E9;text-align:center;">JAWAP SAYA !</h1>
    <div id="gAME110-button-bar2" class="button-bar">
      <a ui-sref="kENAL10()" id="gAME110-button19" class="button button-positive button-block">1</a>
      <a ui-sref="tAMBAH10()" id="gAME110-button20" class="button button-positive button-block">2</a>
      <a ui-sref="tOLAK10()" id="gAME110-button21" class="button button-positive button-block">3</a>
      <a ui-sref="tAMBAH18()" id="gAME110-button22" class="button button-positive button-block">4</a>
      <a ui-sref="tOLAK18()" id="gAME110-button23" class="button button-positive button-block">5</a>
    </div>
    <div>
      <img src="img/ttrcA6NRMG6ndkRCG1nY_500_F_120636594_EEzA3uwCMolrlbkztHVzpcVfcm4psdAx.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>