<ion-view title="L2M GAME" id="page5" style="background-color:#E0D2E1;">
  <ion-content padding="true" style="background: url(img/7tP8wpNQKK1Q2qH3jH4Q_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/sgj0CIITfyIxzzQZQgDO_500_F_30610753_KhujNmRUkR4V8mtD7odA1bLFN8EF2A2C.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page6()" id="l2MGAME-button8" style="font-weight:600;" class="button button-calm button-large button-block">KENALI SAYA</a>
    <a ui-sref="gAME110()" id="l2MGAME-button9" style="font-weight:600;" class="button button-assertive button-large button-block">JAWAB SAYA</a>
  </ion-content>
</ion-view>