<ion-view title="Page 6" id="page6">
  <ion-content padding="true" style="background: url(img/PdBTiWH5Su29VO5S6sYr_5989255-background-hd-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page6-heading1" style="color:#F6F5F5;text-align:center;">KEMAHIRAN MATEMATIK (PENDIDIKAN PEMULIHAN)</h1>
    <ion-list id="page6-list1">
      <ion-item class="item-icon-left assertive" id="page6-list-item1" ui-sref="page7()">
        <i class="icon ion-help-buoy"></i>NOMBOR 0-10</ion-item>
      <ion-item class="item-icon-left balanced" id="page6-list-item3" ui-sref="page10()">
        <i class="icon ion-home"></i>OPERASI TAMBAH 10</ion-item>
      <ion-item class="item-icon-left positive" id="page6-list-item4" ui-sref="page11()">
        <i class="icon ion-icecream"></i>OPERASI TOLAK 10</ion-item>
      <ion-item class="item-icon-left calm" id="page6-list-item5" ui-sref="page12()">
        <i class="icon ion-ios-americanfootball"></i>OPERASI TAMBAH 18</ion-item>
      <ion-item class="item-icon-left royal" id="page6-list-item6" ui-sref="page13()">
        <i class="icon ion-ionic"></i>OPERASI TOLAK 18</ion-item>
    </ion-list>
  </ion-content>
</ion-view>