<ion-view title="TAMBAH 18" id="page16">
  <ion-content padding="true" style="background: url(img/LQDWDTu3TeibBX4DD6JH_blur-colored-texture_1160-889.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="tAMBAH18-heading10" style="color:#000000;font-weight:600;text-align:center;">OPERASI TAMBAH DALAM LINGKUNGAN 18</h1>
    <h1 id="tAMBAH18-heading11" style="color:#000000;">1. 12 + 4 = </h1>
    <div id="tAMBAH18-button-bar4" class="button-bar">
      <a ui-sref="gOOD()" id="tAMBAH18-button27" class="button button-positive button-block">16</a>
      <a ui-sref="bAD()" id="tAMBAH18-button29" class="button button-positive button-block">12</a>
    </div>
    <h1 id="tAMBAH18-heading13" style="color:#000000;">2. 9 + 8 =</h1>
    <div id="tAMBAH18-button-bar5" class="button-bar">
      <a ui-sref="bAD()" id="tAMBAH18-button34" class="button button-positive button-block">14</a>
      <a ui-sref="gOOD()" id="tAMBAH18-button35" class="button button-positive button-block">17</a>
    </div>
  </ion-content>
</ion-view>