<ion-view title="TAMBAH 10" id="page14" style="background-color:#2814B9;">
  <ion-content padding="true" style="background: url(img/HugucPaGQS2JGVMlGovz_blur-colored-texture_1160-889.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="tAMBAH10-heading5" style="color:#000000;text-align:center;">OPERASI TAMBAH DALAM LINGKUNGAN 10</h1>
    <div>
      <img src="img/DMkRB8UGQLGR6cjaIjwm_T10.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="tAMBAH10-heading6" style="color:#000000;font-weight:600;text-align:center;">PILIH JAWAPAN YANG BETUL.</h4>
    <a ui-sref="bAD()" id="tAMBAH10-button10" style="font-weight:600;color:#141319;" class="button button-positive button-large button-block">9</a>
    <a ui-sref="gOOD()" id="tAMBAH10-button11" style="font-weight:600;color:#0C0C2E;" class="button button-positive button-large button-block">6</a>
  </ion-content>
</ion-view>