<ion-view title="TOLAK 10" id="page15">
  <ion-content padding="true" style="background: url(img/NsJhbRWISkGIxEjRlM96_865110_rainbow-full-screen-hd-wallpaper-best-backgrounds-hd-free_2560x1440_h.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="tOLAK10-heading7" style="color:#F1D4D4;text-align:center;">OPERASI TOLAK DALAM LINGKUNGAN 10</h1>
    <div>
      <img src="img/L4YeMGb3Sq7MNXj2bf1Q_BT.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="tOLAK10-heading8" style="color:#C23232;font-weight:600;text-align:center;">PILIH JAWAPAN YANG BETUL.</h4>
    <a ui-sref="bAD()" id="tOLAK10-button12" style="font-weight:600;" class="button button-positive button-large button-block">3 + 2 = 5</a>
    <a ui-sref="gOOD()" id="tOLAK10-button13" style="font-weight:600;" class="button button-positive button-large button-block">3 - 2 = 1</a>
  </ion-content>
</ion-view>