<ion-view title="TOLAK 18" id="page17">
  <ion-content padding="true" style="background: url(img/aqNnGl3wRtKW46d95Ofy_865110_rainbow-full-screen-hd-wallpaper-best-backgrounds-hd-free_2560x1440_h.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="tOLAK18-heading14" style="color:#F1E6E6;text-align:center;">OPERASI TOLAK DALAM LINGKUNGAN 18</h1>
    <h1 id="tOLAK18-heading15" style="color:#000000;">1. 16 - 8 =</h1>
    <div id="tOLAK18-button-bar6" class="button-bar">
      <a ui-sref="gOOD()" id="tOLAK18-button40" style="font-weight:600;" class="button button-positive button-block">8</a>
      <button id="tOLAK18-button41" style="font-weight:600;" class="button button-positive button-block">7</button>
    </div>
    <h1 id="tOLAK18-heading16" style="color:#000000;">2. 14 -7 =</h1>
    <div id="tOLAK18-button-bar7" class="button-bar">
      <a ui-sref="bAD()" id="tOLAK18-button46" style="font-weight:600;" class="button button-positive button-block">6</a>
      <a ui-sref="gOOD()" id="tOLAK18-button47" style="font-weight:600;" class="button button-positive button-block">7</a>
    </div>
  </ion-content>
</ion-view>